.main-chat-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.friends-container{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chat-main-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.chat-container{
    height: 100%;
    background-image: url("src/assets/messages_light_colour_background.jpg");
    width: auto;
    display: flex;
    justify-content: center;
}
.message.sent{
    padding-right: 10px;
    display: flex;
    justify-content: end;
    background-color: cadetblue;
}
.message.received{
    padding-left: 10px;
    display: flex;
    justify-content: start;
    background-color: moccasin;
}
.messages{
    white-space: pre-wrap;
    width: 1000px;
    overflow-y: auto;
}
.chat-input-container{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: auto;
}

.input-chat-container{
    margin-right: 10px;
}
.input-chat__input{
    height: 40px;
    width: 600px;
    font-size: 16px;
    border-radius: 5px;
    resize: none;
}
.friend-name-container {
    display: flex;
    flex-grow: 1;
    background-color: #8ec5ff;
}