.header-component {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
}
.header-main {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header-logo {
  font-size: 25px;
}
.header-account {
  margin-right: 10px;
  width: auto;
  display: flex;
  gap: 8px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.nav-link {
  transition: color 0.3s ease;
}
.nav-link:visited {
}
.nav-link:hover {
  color: aqua;
}
