.header-component{
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
}
.header-main{
    display: flex;
    flex-direction: row;
    border: 1px solid aquamarine;
}
.header-nav{ 
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
}
.header-logo{
    
}
.header-account{
    
}
.nav-menu{
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
}
.nav-link{
    
    
}
.nav-link:visited{
}
.nav-link:hover{
}

