/* .header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dashed #000;
}
.header-main {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.header-nav {
  width: 90%;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header-logo {
  font-size: 25px;
}
.header-account {
  position: relative;
  margin-right: 10px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.nav-link {
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #456882;
} */
.header-component {
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  height: 60px; /* Фиксированная высота */
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50; /* Чтобы меню было поверх всего */
}

.header-main {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Лого слева, профиль справа */
}

/* Стили для AccountDropDown нужно поправить, чтобы он позиционировался абсолютно относительно header-account */
