.button {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.button.accept {
  padding: 0 5px 0 5px;
  width: auto;
  background-color: rgba(80, 161, 67, 0.99);
}
.button.action {
  width: auto;
  height: auto;
}
.button.default {
  padding: 0 5px 0 5px;
  width: auto;
  background-color: #234c6a;
  color: white;
}
.button.primary {
  padding: 0 5px 0 5px;
  width: auto;
  background-color: rgb(63, 189, 161);
}
.button.delete {
  width: auto;
  height: auto;
  border: 1px solid #fff;
}

.button.edit {
  width: auto;
  height: auto;
  border: 1px solid #fff;
}
.button.login {
  width: 300px;
  background-color: #169976;
}
.button.chat {
  padding: 0 5px 0 5px;
  width: auto;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgb(136, 207, 1);
}
.button.kanban {
  padding: 10px 5px 10px 5px;
  height: auto;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button.kanban-input {
  background-color: #e0e0e0;
}
.button.kanban-input-cancel {
  padding: 5px 8px;
  width: auto;
}
button.group {
  background-color: white;
  padding: 5px;
  width: auto;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition-property: border;
  transition-duration: 0.4s;
}
.button.add-kanban-column {
  width: 100%;
  height: 4vh;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}
.button.actions {
  padding: 0 5px 0 5px;
  width: auto;
  border: 1px solid #7f8487;
}
.button.menu-btn {
  width: 100%;
  height: 3rem;
  font-size: 16px;

  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #4b5563;
  padding: 12px 15px;
  border-radius: 8px;
  transition:
    background-color 0.2s,
    color 0.2s;
  font-weight: 500;
}
.button.sorting {
  width: auto;
  height: auto;
  padding: 0 5px 0 5px;
  border: 1px solid #ccc;
}
.button.menu-btn.active {
  background-color: #ccc;
}
.button.menu-btn:hover {
  background-color: #eff6ff;
  color: #2563eb;
}
.button.default:hover {
  background-color: #456882;
}
.button.accept:hover {
  background-color: rgb(60, 122, 51);
}
.button.primary:hover {
  background-color: rgb(46, 140, 120);
}
.button.login:hover {
  background-color: #1dcd9f;
}
.button.chat:hover {
  background-color: rgba(136, 207, 1, 0.53);
}
.button.kanban:hover {
  background-color: #57595b;
}
button.group:hover {
  border: 1px solid #00b4d8;
}
.button.kanban-input:hover {
  background-color: #00b4d8;
}
.button.kanban-input-cancel:hover {
  background-color: #e6363f;
}
.button.add-kanban-column:hover {
  background-color: #00b4d8;
}
.button.actions:hover {
  background-color: #7f8487;
}
