
.drop-area{
    /*margin: 5px;*/
    /*width: 70%;*/
    /*height: 20px;*/
    /*background-color: #e6363f;*/
    /*display: block;*/

    width: 50%;
    height: auto;
    color: #dcdcdc;
    border: 1px dashed #dcdcdc;
    border-radius: 20px;
    margin-bottom: 15px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.hide-drop{
    opacity: 0;
}