.kanban {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
.kanban-block{
    margin: 15px 10px 0 10px;
    padding-bottom: 5px;
;
    border: 1px solid black;
    border-radius: 10px;
    min-height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task-card{
    width: 80%;
    margin: 5px 0 5px 0;
    padding: 5px 5px 5px 5px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task-card button{
    margin-top: 5px;
    width: 50%;
}