@import "tailwindcss";
.main-kanban{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: stretch;
}

.droppable-kanban-column{
    min-height: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.kanban-column-title{
    border: 1px solid greenyellow;
}
.main-kanban-card{
    display: flex;
    height: 50px;
    border: 1px solid orange;
}

.x {
    border: 1px solid black;
}