@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Noto Sans', sans-serif;
}
.rdp-root {
  --rdp-accent-color: var(--blue-9);
}
[cmdk-input] {
  width: 250px;
  height: 35px;
  padding-left: 5px;
  border: 1px solid #ccc;
}
[cmdk-list] {
  margin-top: 20px;
}
[cmdk-item]:hover {
  background-color: #ccc;
  cursor: pointer;
}
