.side-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .side-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #4b5563;
  padding: 12px 15px;
  border-radius: 8px;
  transition:
    background-color 0.2s,
    color 0.2s;
  font-weight: 500;
}
.side-menu:hover {
  background-color: #eff6ff;
  color: #2563eb;
} */
